<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h1 class = "header">Please fill in the forms to create account</h1>

<form>

    <label class = "welcome-screen-email">email</label>
    <input type="email" id="email" name="email" class="email-input">

    <label class = "welcome-screen-password">password</label>
    <input type="password" id="password" name="password" class="password-input">

    <label class="welcome-first-name">first name</label>
    <input type="text" id="firstName" name="firstName" class="firstname-input">

    <label class="welcome-last-name">last name</label>
    <input type="text" id="lastName" name="lastName" class="lastname-input">

    <label class="welcome-role">role</label>
    <input type="radio" id="role-student" class="role-student-input" value="student" name="role">
        <label for="role-student" class="student-label">student</label>
    <input type="radio" id="role-teacher" class="role-teacher-input" value="teacher" name="role">
        <label for="role-teacher" class="teacher-label">teacher</label>

    <input type="submit" id="" value="create account" class="create-account-submit">

    <input type="button" id="" value="back to welcome page" onclick = "window.location.href = 'welcome'" class="back-to-welcome-button">


</form>


</body>
</html>