<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${teacher != null}">
    <p class="role-and-name">[<span th:text="${teacher.role}"></span>] <span th:text="${teacher.firstName}"></span>
        <span th:text="${teacher.lastName}"></span></p>
</div>
<div th:if="${student != null}">
    <p class="role-and-name">[<span th:text="${student.role}"></span>] <span th:text="${student.firstName}"></span>
        <span th:text="${student.lastName}"></span></p>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="log out" class="logout-button">
</form>

<div th:if="${param.success}" class="alert-success">
    You are registered successfully!
</div>

<h1 class="header">Courses</h1>

<div class="left-menu">
    <ul class="left-menu-list">
        <li class="left-menu-element">
            <a th:href="@{/courses}">courses</a>
        </li>
        <li class="left-menu-element">students</li>
        <li class="left-menu-element">teachers</li>
    </ul>
</div>

<div>
    <table class="main-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Number of students</th>
            <th>Schedule</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td th:text="${course.name}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.teacherString}"></td>
            <td th:text="${course.numberOfStudents}"></td>
            <td th:text="${course.schedule}"></td>
            <td th:text="${course.time}"></td>
            <td>
                <div th:if="${teacher != null}">
                    <div th:switch="${teacher.role.name}">
                        <span th:case="'ADMIN'">
                            <a th:href="@{/courses/{courseId}/update(courseId=${course.id})}">Update</a>
                            <a th:href="@{/courses/{courseId}/delete(courseId=${course.id})}">Delete</a>
                        </span>
                        <span th:case="'TEACHER'">
                            <form th:action="@{/courses/{courseId}/assign(courseId=${course.id})}" method="post">
                                <input type="submit" value="Assign">
                            </form>
                            <form th:action="@{/courses/{courseId}/unassign(courseId=${course.id})}" method="post">
                                <input type="submit" value="Unassign">
                            </form>
                        </span>
                    </div>
                </div>
                <div th:if="${student != null}">
                    <form th:action="@{/courses/{courseId}/enroll(courseId=${course.id})}"
                          method="post">
                        <input type="submit" value="Enroll">
                    </form>
                    <form th:action="@{/courses/{courseId}/drop(courseId=${course.id})}"
                          method="post">
                        <input type="submit" value="Drop">
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
        <tr>

        </tr>

    </table>
</div>

<div class="add-course-button">
    <input type="button" value="add course" onclick="window.location.href = 'courses/new'">
</div>


</body>
</html>