<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<h1 class="header">Welcome to school management system</h1>

<div th:if="${param.error}" class="error">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="error">
    You have been logged out.
</div>

<div class="login-form">

    <form method="post" th:action="@{/login}">

        <label class="welcome-screen-email">email</label>
        <input
                type="email"
                id="username"
                name="username"
                class="email-input">

        <label class="welcome-screen-password">password</label>
        <input
                type="password"
                id="password"
                name="password"
                class="password-input">

        <button type="submit" value="Log in" class="login-button"> Log in</button>

    </form>

    <p class="create-account-or">or</p>
<!--    <form th:action="@{/register-teacher}" method="get">-->
<!--        <input type="submit" value="create teacher account" class="create-account-button-1">-->
<!--    </form>-->
    <form th:action="@{/register-student}" method="get">
        <input type="submit" value="create student account" class="create-account-button-2">
    </form>
    <div class="create-account-button-1">
        <input type="button" value="create teacher account" onclick="window.location.href = 'register-teacher'">
    </div>


</div>
</body>
</html>