<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<header>

    <h1 class="header-text">Welcome to school management system</h1>

    <nav>
        <a th:href="@{/courses}">courses</a>
        <a th:href="@{/teachers}">teachers</a>
        <a th:href="@{/students}">students</a>
        <a th:href="@{courses/new}" th:if="${teacher != null}">add course</a>
        <a th:href="@{/logout}">log out</a>
    </nav>
</header>

<div th:if="${param.error}" class="error">
    Invalid username and password.
</div>
<div th:if="${param.logout}" class="error">
    You have been logged out.
</div>

<div class="login-form">

    <form method="post" th:action="@{/login}">

        <label class="welcome-screen-email">email</label>
        <input
                type="email"
                id="username"
                name="username"
                class="email-input">

        <label class="welcome-screen-password">password</label>
        <input
                type="password"
                id="password"
                name="password"
                class="password-input">

        <button type="submit" value="log in" class="login-button"> log in</button>

    </form>

    <p class="create-account-or">or create:</p>

    <div >
        <form th:action="@{/register-teacher}" method="get">
            <button type="submit" value="create teacher account" class="create-account-button-1">teacher account</button>
        </form>
    </div>
    <div >
        <form th:action="@{/register-student}" method="get">
            <button type="submit" value="create student account" class="create-account-button-2">student account</button>
        </form>
    </div>


</div>
</body>
</html>