<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Course</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>


<header>

    <div th:if="${teacher != null}">
        <p class="role-and-name">[<span th:text="${teacher.role}"></span>] <span th:text="${teacher.firstName}"></span>
            <span th:text="${teacher.lastName}"></span></p>
    </div>
    <div th:if="${student != null}">
        <p class="role-and-name">[<span th:text="${student.role}"></span>] <span th:text="${student.firstName}"></span>
            <span th:text="${student.lastName}"></span></p>
    </div>

    <h1 class="header-text">Update Course</h1>

    <nav>

        <a th:href="@{/courses}">courses</a>
        <a th:href="@{/teachers}">teachers</a>
        <a th:href="@{/students}">students</a>
        <a th:href="@{courses/new}" th:if="${teacher != null}">add course</a>
        <a th:href="@{/logout}">log out</a>
    </nav>

</header>



<div>
    <form role="form" method="post" th:action="@{/courses/{courseId}/update(courseId=${course.id})}"
          th:object="${course}">

        <input type="hidden" th:field="*{id}">

        <div>
            <label class="welcome-screen-email">name</label>
            <input
                    type="text"
                    name="name"
                    th:field="*{name}"
                    class="email-input">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
        </div>
        <label class="welcome-screen-password">description</label>
        <input
                type="text"
                name="description"
                th:field="*{description}"
                class="password-input">

<!--        <label class="welcome-first-name">teacher</label>-->
<!--        <input-->
<!--                type="text"-->
<!--                name="teacher"-->
<!--                th:field="*{teacher}"-->
<!--                class="firstname-input">-->

        <label class="welcome-last-name">schedule</label>
        <input
                type="text"
                name="schedule"
                th:field="*{schedule}"
                class="lastname-input">

        <label class="welcome-role">time</label>
        <input
                type="text"
                name="time"
                th:field="*{time}"
                class="role-student-input">

        <input
                type="submit"
                id=""
                value="update course"
                class="create-account-submit">

        <!--    <button type="submit" class="btn btn-primary" >update course</button>-->

    </form>
</div>

</body>
</html>