body {
    background-image: url("bg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Helvetica, sans-serif;
}

.header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.left-menu {
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
    width: 175px;
    position: absolute;
    top: 120px;

}

.left-menu-list {
    list-style-type: none;
}

.left-menu-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-table {
    position: absolute;
    top: 120px;
    left: 200px;
    width: 85%;
}

th {
    height: 50px;
    background-color: #f7c081;
    color: black;
}

th, td {
  border-bottom: 1px solid black;
}

tr:hover {
    background-color: #fa9857;
}

.role-and-name {
    position: absolute;
    left: 5px;
    top: 5px;
}

.logout-button {
    position: absolute;
    left: 5px;
    top: 50px;
}

.add-course-button {
    position: absolute;
    left: 5px;
    top: 80px;
}

.welcome-screen-email {
    font-size: 20px;
    position: absolute;
    left: 675px;
    top: 200px;
}

.welcome-screen-password {
    font-size: 20px;
    position: absolute;
    left: 630px;
    top: 250px;
}

.email-input {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 200px;
}

.password-input {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 250px;
}

.login-button {
    font-size: 20px;
    position: absolute;
    left: 815px;
    top: 300px;
}

.create-account-or {
    font-size: 18px;
    position: absolute;
    left: 830px;
    top: 450px;
}

.create-account-button {
    font-size: 20px;
    position: absolute;
    left: 770px;
    top: 500px;
}

.welcome-first-name {
    font-size: 20px;
    position: absolute;
    left: 640px;
    top: 300px;
}

.firstname-input {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 300px;
}

.welcome-last-name {
    font-size: 20px;
    position: absolute;
    left: 640px;
    top: 350px;
}

.lastname-input {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 350px;
}

.welcome-role {
    font-size: 20px;
    position: absolute;
    left: 690px;
    top: 400px;
}

.role-student-input {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 403px;
}

.role-teacher-input {
    font-size: 20px;
    position: absolute;
    left: 850px;
    top: 403px;
}

.student-label {
    font-size: 20px;
    position: absolute;
    left: 760px;
    top: 400px;
}

.teacher-label {
    font-size: 20px;
    position: absolute;
    left: 870px;
    top: 400px;
}

.create-account-submit {
    font-size: 20px;
    position: absolute;
    left: 770px;
    top: 500px;
}

.back-to-welcome-button {
    font-size: 20px;
    position: absolute;
    left: 740px;
    top: 550px;
}

.error {
    font-size: 16px;
    position: absolute;
    left: 675px;
    top: 100px;
    color: red;
}

.alert-success {
    font-size: 16px;
    position: absolute;
    left: 675px;
    top: 100px;
    color: green;
}